@{
    ViewData["Title"] = "Home Page";
    var urlApi = ViewBag.urlApi as string;
}

<div class="container-xl flex-fill d-flex flex-column">
    <div class="card flex-fill">
        <div class="row g-0 flex-fill">
            <div class="col-12 d-flex flex-column">
                <div class="card-body scrollable">
                    <div class="chat">
                        <div id="chatContainer" class="chat-bubbles">
                            
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group input-group-flat">
                        <input type="text" id="questionInput" class="form-control" placeholder="Digite sua pergunta..." />
                        <span class="input-group-text">
                            <button type="button" id="sendBtn" class="btn btn-primary">Enviar</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        window.urlApi = "@urlApi";
    </script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script type="module" src="~/js/chatbot/main.js"></script>
}
